@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,600&display=swap');

:root {
    --primary-color: #e6edf3;
    --secondary-color: #fe428e;
    --background-color: #141321;
    --accent-color: #1d1a28;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
    text-decoration: none;
    
}

a:hover{
    color: var(--secondary-color);
}

span{
    color: var(--secondary-color);
    font-weight: bold;
}

body {
    background-color: var(--background-color);
    background-image: url('/images/programming-code-signs.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 260px;
}

img {
    width: 50px;
}

h1{
    font-size: 23px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 6rem;
    background-color: var(--accent-color);
    box-shadow: 0px 3px 10px var(--accent-color);
}



.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 10px;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

.central-header {
    text-align: center;
    padding: 20px;
}

h2 {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
}

.main {
    display: flex;
    flex-direction: column;
}

.sectionsobre{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background-color: var(--accent-color);
    border-radius: 10px;
    padding: 10px;
}

.card img {
    width: 250px;
    border-radius: 50%;
    margin: 20px;
}

.card-info {
    display: flex;
    flex-direction: column;
}

.about{
   flex-wrap: wrap;
}

.social-info {
    margin-top: 20px;
}

.sectionskills{
    background-color: var(--accent-color);
    border-radius: 10px;
    padding: 10px;
    margin-inline: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sectionprojetos {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .item {
    flex-basis: calc(33.33% - 20px);
    margin: 5px;
  }

  @media screen and (max-width: 768px) {
    header{
        display: flex;
        flex-direction: column;
    }
   ul{
        display: flex;
        padding-top: 10px;
        flex-direction: column;
    }

    .sectionsobre{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sectionskills{
        display: flex;
        flex-direction: column;
        
    }
    
}